{{ extends "../../layouts/homepage" }}

{{ block documentBody() }}
<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Configuration /</span> Cover
</h4>
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Form Configuration Cover</h5>
            </div>
            <div class="card-body">
                <form action="/mimin/config/cover" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Title<i class="required">*</i></label>
                        <input type="text" name="title" class='form-control {{ if isset(errValidate["title"]) }} is-invalid {{ end }}' placeholder="Insert Title"  value='{{ if isset(old["title"]) }}{{ old["title"] }}{{else}}{{config.Title}}{{ end }}' />
                        {{ if isset(errValidate["title"]) }}
                            <div class="invalid-feedback">{{ errValidate["title"] }}</div>
                        {{ end }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Subtitle<i class="required">*</i></label>
                        <input type="text" name="subtitle" class='form-control {{ if isset(errValidate["subtitle"]) }} is-invalid {{ end }}' placeholder="Insert Subtitle" value='{{ if isset(old["subtitle"]) }}{{ old["subtitle"] }}{{else}}{{ if isset(config.CustomData) }}{{config.CustomData["subtitle"]}}{{ end }}{{ end }}' />
                        {{ if isset(errValidate["subtitle"]) }}
                            <div class="invalid-feedback">{{ errValidate["subtitle"] }}</div>
                        {{ end }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description <i class="required">*</i></label>
                        <textarea id="description" name="description" class='form-control {{ if isset(errValidate["description"]) }} is-invalid {{ end }}' placeholder="Insert Description" cols="10" rows="5">{{ if isset(old["description"]) }}{{ old["description"] }}{{else}}{{config.Description}}{{ end }}</textarea>
                        {{ if isset(errValidate["description"]) }}
                            <div class="invalid-feedback">{{ errValidate["description"] }}</div>
                        {{ end }}
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ block documentScript() }}
<script src="/assets/backend/libs/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#description', // Replace this CSS selector to match the placeholder element for TinyMCE
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
    });
</script>
{{ end }}