<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed">
{{ include "header" }}
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        {{ include "sidebar" }}
        <div class="layout-page">
            {{ include "navbar" }}
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    {{ block documentBody() }}{{ end }}
                </div>
                <!-- / Content -->
                {{ include "footer" }}
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
    </div>
</div>
{{ include "script" }}

{{ block documentScript() }}{{end}}
{{ if isset(success) }}
<script>
    new Notify ({
        status: 'success',
        title: 'Success',
        text: '{{ success }}',
        effect: 'fade',
        speed: 300,
        customClass: '',
        customIcon: '',
        showIcon: true,
        showCloseButton: true,
        autoclose: true,
        autotimeout: 4000,
        notificationsGap: null,
        notificationsPadding: null,
        type: 'outline',
        position: 'right top',
        customWrapper: '',
    })
</script>
{{ end }}

{{ if isset(error) }}
<script>
    new Notify ({
        status: 'error',
        title: 'Error !',
        text: '{{ error }}',
        effect: 'fade',
        speed: 300,
        customClass: '',
        customIcon: '',
        showIcon: true,
        showCloseButton: true,
        autoclose: true,
        autotimeout: 4000,
        notificationsGap: null,
        notificationsPadding: null,
        type: 'outline',
        position: 'right top',
        customWrapper: '',
    })
</script>
{{ end }}
</body>
</html>