<script src="/assets/backend/libs/jquery/jquery.js"></script>
<script src="/assets/backend/libs/popper/popper.js"></script>
<script src="/assets/backend/js/bootstrap.js"></script>
<script src="/assets/backend/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/backend/libs/typeahead-js/typeahead.js"></script>

<script src="/assets/backend/js/menu.js"></script>
<!-- endbuild -->

<!-- Datatable JS -->
<script src="/assets/backend/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="/assets/backend/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>

<!-- Vendors JS -->
<script src="/assets/backend/libs/flatpickr/flatpickr.js"></script>
<script src="/assets/backend/libs/sweetalert2/sweetalert2.js"></script>

<!-- Main JS -->
<script src="/assets/backend/js/main.js"></script>