{{ if len(wishes) > 0 }}
<div class="wishes" data-anim="zoom-in-up" id="wishes-container">
    {{ range wishes }}
    <div class="wish">
        <div class="wish-badge">
            <h6>{{ .name }}</h6>
        </div>
        <div class="wish-description">
            <h6 style="font-size:1.17rem;">{{ .name }}</h6>
            <p>
                {{ .wish_description }}
            </p>
            <small class="text-muted">{{ .created_at }}</small>
        </div>
    </div>
    {{ end }}
</div>
{{ else }}
<p class="text-center">Empty wish data</p>
{{ end }}
